# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.genkit/*
.env*

# firebase
firebase-debug.log
firestore-debug.log
prisma/json-exports/gameEvent.json
prisma/json-exports/match.json
prisma/json-exports/matchChronicle.json
prisma/json-exports/player.json
prisma/json-exports/playerMatchStats.json
prisma/json-exports/poll.json
prisma/json-exports/pollOption.json
prisma/json-exports/post.json
prisma/json-exports/season.json
prisma/json-exports/seasonTeam.json
prisma/json-exports/team.json
prisma/json-exports/vote.json
prisma/respaldo/gameEvent.json
prisma/respaldo/match.json
prisma/respaldo/matchChronicle.json
prisma/respaldo/player.json
prisma/respaldo/playerMatchStats.json
prisma/respaldo/poll.json
prisma/respaldo/pollOption.json
prisma/respaldo/post.json
prisma/respaldo/season.json
prisma/respaldo/seasonTeam.json
prisma/respaldo/team.json
prisma/respaldo/vote.json
src/data/cronicas.txt
src/data/estructura.json
src/data/estructura.txt
src/data/public.json
