@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 202 100% 14%; /* #003049 */
    --foreground: 39 87% 92%; /* #FDF0D5 */

    --card: 202 100% 18%;
    --card-foreground: 39 87% 92%;

    --popover: 202 100% 18%;
    --popover-foreground: 39 87% 92%;

    --primary: 356 81% 41%; /* #C1121F */
    --primary-foreground: 39 87% 92%;

    --secondary: 206 37% 60%; /* #669BBC */
    --secondary-foreground: 202 100% 14%;

    --muted: 202 100% 22%;
    --muted-foreground: 39 87% 80%;

    --accent: 206 37% 60%;
    --accent-foreground: 202 100% 14%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 202 100% 25%;
    --input: 202 100% 25%;
    --ring: 206 37% 70%;
    
    --chart-1: 356 81% 41%;
    --chart-2: 206 37% 60%;
    --chart-3: 39 87% 92%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 202 100% 14%;
    --foreground: 39 87% 92%;

    --card: 202 100% 18%;
    --card-foreground: 39 87% 92%;

    --popover: 202 100% 18%;
    --popover-foreground: 39 87% 92%;

    --primary: 356 81% 41%;
    --primary-foreground: 39 87% 92%;

    --secondary: 206 37% 60%;
    --secondary-foreground: 202 100% 14%;
    
    --muted: 202 100% 22%;
    --muted-foreground: 39 87% 80%;

    --accent: 206 37% 60%;
    --accent-foreground: 202 100% 14%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 202 100% 25%;
    --input: 202 100% 25%;
    --ring: 206 37% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
